section .jumbotron ul {
    display: flex;     
}

section .jumbotron ul li a {
    border: solid;
    border-color: springgreen;
    padding: 5px;
    border-width: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
}

section .jumbotron h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: navy;
    
}

.jumbotron {
    background-image: 
    url('http://www.formosatravel.net/images/stories/taiwan/article_images/the-beauty-of-a-simple-and-natural-life/ZhuShan-Tea-Farm.jpg');
    background-size: cover;
    align-items: center;
    display: flex;
    height: 500px;
    margin-top: 100px;
    
       
}
